<h1>Tipo de requisição JSON, LOCALSTORAGE, LISTA[]</h1>

<mat-list role="list">
    <mat-list-item role="listitem">
        <div class="example-button-row">
        <button mat-raised-button color="primary" (click)="json()">exp-json</button>
        </div>    
    </mat-list-item>
    <mat-list-item role="listitem">
        <div class="example-button-row">
        <button mat-raised-button color="primary" (click)="localStorage()">exp-localStorage</button>
        </div>    
    </mat-list-item>
    <mat-list-item role="listitem">
        <div class="example-button-row">
        <button mat-raised-button color="primary" (click)="todo()">exp-todo</button>
        </div>    
    </mat-list-item>
</mat-list>
  